In [1]:
# Import dependencies
import pandas as pd
from functools import reduce

In [2]:
# Load in CSV as a DataFrame
income_df = pd.read_csv('Resources\ACSST5Y2014_income_data.csv')
income_df.head(10)

,GEO_ID,Geographic Area Name,Households!!Estimate!!Total,Households!!Margin of Error!!Total,"Households!!Estimate!!Less than $10,000","Households!!Margin of Error!!Less than $10,000","Households!!Estimate!!$10,000 to $14,999","Households!!Margin of Error!!$10,000 to $14,999","Households!!Estimate!!$15,000 to $24,999","Households!!Margin of Error!!$15,000 to $24,999",...,Nonfamily households!!Estimate!!Median income (dollars),Nonfamily households!!Margin of Error!!Median income (dollars),Nonfamily households!!Estimate!!Mean income (dollars),Nonfamily households!!Margin of Error!!Mean income (dollars),Nonfamily households!!Estimate!!PERCENT IMPUTED!!Household income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Household income in the past 12 months,Nonfamily households!!Estimate!!PERCENT IMPUTED!!Family income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Family income in the past 12 months,Nonfamily households!!Estimate!!PERCENT IMPUTED!!Nonfamily income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Nonfamily income in the past 12 months
0,1400000US08031000102,"Census Tract 1.02, Denver County, Colorado",1534,86,4.8,2.5,2.9,2,6.5,3.2,...,44853,13335,55233,8172,(X),(X),(X),(X),15.8,(X)
1,1400000US08031000201,"Census Tract 2.01, Denver County, Colorado",1505,82,6.9,3.9,8,4.7,9.4,4.4,...,38717,13391,57615,19583,(X),(X),(X),(X),27.9,(X)
2,1400000US08031000202,"Census Tract 2.02, Denver County, Colorado",1603,90,17.2,4.2,5.5,3.1,9,4.3,...,36629,15397,60391,15914,(X),(X),(X),(X),19,(X)
3,1400000US08031000301,"Census Tract 3.01, Denver County, Colorado",2605,126,7.4,3.8,5.4,3.6,5.8,2.9,...,48321,9954,71826,18882,(X),(X),(X),(X),22.7,(X)
4,1400000US08031000302,"Census Tract 3.02, Denver County, Colorado",1959,129,0.7,1.2,4.7,4.6,3.5,2.8,...,63083,23746,75054,10548,(X),(X),(X),(X),21.6,(X)
5,1400000US08031000303,"Census Tract 3.03, Denver County, Colorado",2215,143,3.7,3.4,3.5,3.3,11.4,4.9,...,43173,14395,97869,31635,(X),(X),(X),(X),11.9,(X)
6,1400000US08031000401,"Census Tract 4.01, Denver County, Colorado",1478,62,7.5,4.4,4.4,3.2,14.8,5.2,...,44338,12675,57091,8997,(X),(X),(X),(X),29.3,(X)
7,1400000US08031000402,"Census Tract 4.02, Denver County, Colorado",2877,156,11.3,4.8,8.6,4.2,8.8,4.3,...,43639,9693,68222,11978,(X),(X),(X),(X),10.2,(X)
8,1400000US08031000501,"Census Tract 5.01, Denver County, Colorado",974,43,5.1,4.2,4.1,2.9,7.6,3.7,...,48438,9057,69850,15466,(X),(X),(X),(X),30.6,(X)
9,1400000US08031000502,"Census Tract 5.02, Denver County, Colorado",2750,124,7.7,3.9,12.9,5,8.9,4,...,37833,11103,64081,16800,(X),(X),(X),(X),23.5,(X)

In [3]:
# Drop null values
income_df.dropna()

,GEO_ID,Geographic Area Name,Households!!Estimate!!Total,Households!!Margin of Error!!Total,"Households!!Estimate!!Less than $10,000","Households!!Margin of Error!!Less than $10,000","Households!!Estimate!!$10,000 to $14,999","Households!!Margin of Error!!$10,000 to $14,999","Households!!Estimate!!$15,000 to $24,999","Households!!Margin of Error!!$15,000 to $24,999",...,Nonfamily households!!Estimate!!Median income (dollars),Nonfamily households!!Margin of Error!!Median income (dollars),Nonfamily households!!Estimate!!Mean income (dollars),Nonfamily households!!Margin of Error!!Mean income (dollars),Nonfamily households!!Estimate!!PERCENT IMPUTED!!Household income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Household income in the past 12 months,Nonfamily households!!Estimate!!PERCENT IMPUTED!!Family income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Family income in the past 12 months,Nonfamily households!!Estimate!!PERCENT IMPUTED!!Nonfamily income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Nonfamily income in the past 12 months
0,1400000US08031000102,"Census Tract 1.02, Denver County, Colorado",1534,86,4.8,2.5,2.9,2,6.5,3.2,...,44853,13335,55233,8172,(X),(X),(X),(X),15.8,(X)
1,1400000US08031000201,"Census Tract 2.01, Denver County, Colorado",1505,82,6.9,3.9,8,4.7,9.4,4.4,...,38717,13391,57615,19583,(X),(X),(X),(X),27.9,(X)
2,1400000US08031000202,"Census Tract 2.02, Denver County, Colorado",1603,90,17.2,4.2,5.5,3.1,9,4.3,...,36629,15397,60391,15914,(X),(X),(X),(X),19,(X)
3,1400000US08031000301,"Census Tract 3.01, Denver County, Colorado",2605,126,7.4,3.8,5.4,3.6,5.8,2.9,...,48321,9954,71826,18882,(X),(X),(X),(X),22.7,(X)
4,1400000US08031000302,"Census Tract 3.02, Denver County, Colorado",1959,129,0.7,1.2,4.7,4.6,3.5,2.8,...,63083,23746,75054,10548,(X),(X),(X),(X),21.6,(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1400000US08031015500,"Census Tract 155, Denver County, Colorado",1744,73,8.9,3.6,9.2,4.5,11.8,4.7,...,33170,3090,37829,4823,(X),(X),(X),(X),30.4,(X)
140,1400000US08031015600,"Census Tract 156, Denver County, Colorado",2124,118,17.1,6.3,11.9,4.7,18.3,7.1,...,16250,3779,29793,8142,(X),(X),(X),(X),29.5,(X)
141,1400000US08031015700,"Census Tract 157, Denver County, Colorado",2064,118,11.9,5.1,6.1,5.4,8.3,4.3,...,25873,6281,32231,6375,(X),(X),(X),(X),26.4,(X)
142,1400000US08031980000,"Census Tract 9800, Denver County, Colorado",503,78,4.4,3.8,12.1,7.4,9.1,7.1,...,44196,8617,44820,10190,(X),(X),(X),(X),6.3,(X)
143,1400000US08031980100,"Census Tract 9801, Denver County, Colorado",0,12,-,**,-,**,-,**,...,-,**,-,**,(X),(X),(X),(X),-,(X)

In [4]:
# Keep columns: income less than 50K
income_df50  = income_df.filter(['GEO_ID','Households!!Estimate!!Total','Households!!Estimate!!Less than $10,000','Households!!Estimate!!$10,000 to $14,999','Households!!Estimate!!$15,000 to $24,999','Households!!Estimate!!$25,000 to $34,999','Households!!Estimate!!$35,000 to $49,999'])
income_df50

,GEO_ID,Households!!Estimate!!Total,"Households!!Estimate!!Less than $10,000","Households!!Estimate!!$10,000 to $14,999","Households!!Estimate!!$15,000 to $24,999","Households!!Estimate!!$25,000 to $34,999","Households!!Estimate!!$35,000 to $49,999"
0,1400000US08031000102,1534,4.8,2.9,6.5,11.2,7.6
1,1400000US08031000201,1505,6.9,8,9.4,5.6,19.9
2,1400000US08031000202,1603,17.2,5.5,9,6.9,9.5
3,1400000US08031000301,2605,7.4,5.4,5.8,8.6,14.4
4,1400000US08031000302,1959,0.7,4.7,3.5,9.3,12.7
...,...,...,...,...,...,...,...
139,1400000US08031015500,1744,8.9,9.2,11.8,21,18.1
140,1400000US08031015600,2124,17.1,11.9,18.3,14.4,14.3
141,1400000US08031015700,2064,11.9,6.1,8.3,15.6,18.2
142,1400000US08031980000,503,4.4,12.1,9.1,6,25.4
143,1400000US08031980100,0,-,-,-,-,-

In [5]:
# Keep columns: income greater than 50K, less than 75K
income_df75  = income_df.filter(['GEO_ID','Households!!Estimate!!$50,000 to $74,999'])
income_df75

                   GEO_ID Households!!Estimate!!$50,000 to $74,999
0    1400000US08031000102                                     19.9
1    1400000US08031000201                                     16.7
2    1400000US08031000202                                       13
3    1400000US08031000301                                     18.3
4    1400000US08031000302                                     13.2
..                    ...                                      ...
139  1400000US08031015500                                     17.6
140  1400000US08031015600                                     14.6
141  1400000US08031015700                                     12.9
142  1400000US08031980000                                     25.6
143  1400000US08031980100                                        -

[144 rows x 2 columns]

In [6]:
# Keep columns: income greater than 75K, less than 100K
income_df_greaterthan75  = income_df.filter(['GEO_ID','Households!!Estimate!!$75,000 to $99,999'])
income_df_greaterthan75

                   GEO_ID Households!!Estimate!!$75,000 to $99,999
0    1400000US08031000102                                     14.4
1    1400000US08031000201                                     14.7
2    1400000US08031000202                                     12.8
3    1400000US08031000301                                      7.6
4    1400000US08031000302                                       16
..                    ...                                      ...
139  1400000US08031015500                                      6.3
140  1400000US08031015600                                      4.5
141  1400000US08031015700                                     12.1
142  1400000US08031980000                                        7
143  1400000US08031980100                                        -

[144 rows x 2 columns]

In [7]:
# Keep columns: income greater than 100K, less than 150K
income_df_greaterthan100  = income_df.filter(['GEO_ID','Households!!Estimate!!$100,000 to $149,999'])
income_df_greaterthan100

                   GEO_ID Households!!Estimate!!$100,000 to $149,999
0    1400000US08031000102                                       20.1
1    1400000US08031000201                                       13.7
2    1400000US08031000202                                       16.8
3    1400000US08031000301                                       20.7
4    1400000US08031000302                                       21.3
..                    ...                                        ...
139  1400000US08031015500                                        6.1
140  1400000US08031015600                                        1.8
141  1400000US08031015700                                        9.4
142  1400000US08031980000                                        5.2
143  1400000US08031980100                                          -

[144 rows x 2 columns]

In [8]:
# Keep columns: income greater than 150K, less than 200K
income_df_greaterthan150  = income_df.filter(['GEO_ID','Households!!Estimate!!$150,000 to $199,999'])
income_df_greaterthan150

                   GEO_ID Households!!Estimate!!$150,000 to $199,999
0    1400000US08031000102                                          4
1    1400000US08031000201                                        2.5
2    1400000US08031000202                                        6.7
3    1400000US08031000301                                        7.6
4    1400000US08031000302                                       11.4
..                    ...                                        ...
139  1400000US08031015500                                        0.8
140  1400000US08031015600                                        1.9
141  1400000US08031015700                                        3.4
142  1400000US08031980000                                          0
143  1400000US08031980100                                          -

[144 rows x 2 columns]

In [9]:
# Keep columns: income greater than 200K
income_df_greaterthan200  = income_df.filter(['GEO_ID','Households!!Estimate!!$200,000 or more'])
income_df_greaterthan200

                   GEO_ID Households!!Estimate!!$200,000 or more
0    1400000US08031000102                                    8.5
1    1400000US08031000201                                    2.5
2    1400000US08031000202                                    2.7
3    1400000US08031000301                                    4.1
4    1400000US08031000302                                    7.1
..                    ...                                    ...
139  1400000US08031015500                                      0
140  1400000US08031015600                                    1.3
141  1400000US08031015700                                    2.1
142  1400000US08031980000                                    5.2
143  1400000US08031980100                                      -

[144 rows x 2 columns]

In [10]:
# Keep columns: Household Median and Mean income and percent allocated
MedMean_df  = income_df.filter(['GEO_ID', 'Households!!Estimate!!Median income (dollars)','Households!!Estimate!!Mean income (dollars)','Households!!Estimate!!PERCENT IMPUTED!!Household income in the past 12 months'])
MedMean_df

,GEO_ID,Households!!Estimate!!Median income (dollars),Households!!Estimate!!Mean income (dollars),Households!!Estimate!!PERCENT IMPUTED!!Household income in the past 12 months
0,1400000US08031000102,70244,86999,22.8
1,1400000US08031000201,50750,63717,26.9
2,1400000US08031000202,53578,67391,25.8
3,1400000US08031000301,57269,79421,22.6
4,1400000US08031000302,84846,100154,18.3
...,...,...,...,...
139,1400000US08031015500,34559,42688,27.9
140,1400000US08031015600,26480,39131,24.2
141,1400000US08031015700,41432,55379,25.8
142,1400000US08031980000,47936,55675,21.7
143,1400000US08031980100,-,-,-

In [11]:
#Merge dataframes into one
dfs = [income_df50, income_df75, income_df_greaterthan75, income_df_greaterthan100, income_df_greaterthan150, income_df_greaterthan200, MedMean_df]
income_df = reduce(lambda left,right: pd.merge(left,right,on=['GEO_ID'],
                                            how='outer'), dfs)
income_df.head()

,GEO_ID,Households!!Estimate!!Total,"Households!!Estimate!!Less than $10,000","Households!!Estimate!!$10,000 to $14,999","Households!!Estimate!!$15,000 to $24,999","Households!!Estimate!!$25,000 to $34,999","Households!!Estimate!!$35,000 to $49,999","Households!!Estimate!!$50,000 to $74,999","Households!!Estimate!!$75,000 to $99,999","Households!!Estimate!!$100,000 to $149,999","Households!!Estimate!!$150,000 to $199,999","Households!!Estimate!!$200,000 or more",Households!!Estimate!!Median income (dollars),Households!!Estimate!!Mean income (dollars),Households!!Estimate!!PERCENT IMPUTED!!Household income in the past 12 months
0,1400000US08031000102,1534,4.8,2.9,6.5,11.2,7.6,19.9,14.4,20.1,4,8.5,70244,86999,22.8
1,1400000US08031000201,1505,6.9,8,9.4,5.6,19.9,16.7,14.7,13.7,2.5,2.5,50750,63717,26.9
2,1400000US08031000202,1603,17.2,5.5,9,6.9,9.5,13,12.8,16.8,6.7,2.7,53578,67391,25.8
3,1400000US08031000301,2605,7.4,5.4,5.8,8.6,14.4,18.3,7.6,20.7,7.6,4.1,57269,79421,22.6
4,1400000US08031000302,1959,0.7,4.7,3.5,9.3,12.7,13.2,16,21.3,11.4,7.1,84846,100154,18.3

In [12]:
# Export the CSV
income_df.to_csv('income_2014.csv', index = False)