In [1]:
# Import dependencies
import pandas as pd
from functools import reduce

In [2]:
# Load in CSV as a DataFrame
income_df = pd.read_csv('Resources/ACSST5Y2015_income_data.csv')
income_df.head(10)

,GEO_ID,Geographic Area Name,Households!!Estimate!!Total,Households!!Margin of Error!!Total,"Households!!Estimate!!Less than $10,000","Households!!Margin of Error!!Less than $10,000","Households!!Estimate!!$10,000 to $14,999","Households!!Margin of Error!!$10,000 to $14,999","Households!!Estimate!!$15,000 to $24,999","Households!!Margin of Error!!$15,000 to $24,999",...,Nonfamily households!!Estimate!!Median income (dollars),Nonfamily households!!Margin of Error!!Median income (dollars),Nonfamily households!!Estimate!!Mean income (dollars),Nonfamily households!!Margin of Error!!Mean income (dollars),Nonfamily households!!Estimate!!PERCENT IMPUTED!!Household income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Household income in the past 12 months,Nonfamily households!!Estimate!!PERCENT IMPUTED!!Family income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Family income in the past 12 months,Nonfamily households!!Estimate!!PERCENT IMPUTED!!Nonfamily income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Nonfamily income in the past 12 months
0,1400000US08031000102,"Census Tract 1.02, Denver County, Colorado",1584,71,5.6,2.6,2.3,1.8,8.6,4.3,...,52917,9824,57168,9412,(X),(X),(X),(X),18.9,(X)
1,1400000US08031000201,"Census Tract 2.01, Denver County, Colorado",1531,67,7.8,4.3,7.3,3.9,9.9,4.2,...,37879,6594,51101,14965,(X),(X),(X),(X),31.4,(X)
2,1400000US08031000202,"Census Tract 2.02, Denver County, Colorado",1676,73,17.1,5.2,5.6,3.2,8.8,3.9,...,35865,14649,58019,13961,(X),(X),(X),(X),16,(X)
3,1400000US08031000301,"Census Tract 3.01, Denver County, Colorado",2660,112,7.6,5.3,4.5,3.8,6.8,3.1,...,42250,13937,70083,15395,(X),(X),(X),(X),31.9,(X)
4,1400000US08031000302,"Census Tract 3.02, Denver County, Colorado",2026,117,0,1.5,4.6,4.4,3.7,2.9,...,67414,23035,84130,15221,(X),(X),(X),(X),21.9,(X)
5,1400000US08031000303,"Census Tract 3.03, Denver County, Colorado",2200,145,5.3,4.8,2.1,2.9,8.3,4.7,...,66000,30082,113176,31867,(X),(X),(X),(X),14.5,(X)
6,1400000US08031000401,"Census Tract 4.01, Denver County, Colorado",1423,63,6.8,3.5,3.2,3,13,5.7,...,44375,12476,57625,9155,(X),(X),(X),(X),31.4,(X)
7,1400000US08031000402,"Census Tract 4.02, Denver County, Colorado",2935,176,8.2,5.1,6.7,4.2,10.3,3.9,...,49602,16949,72359,11921,(X),(X),(X),(X),18.4,(X)
8,1400000US08031000501,"Census Tract 5.01, Denver County, Colorado",934,57,3.7,3.5,5.7,3.7,3.7,2.4,...,50938,10211,70911,13564,(X),(X),(X),(X),30.1,(X)
9,1400000US08031000502,"Census Tract 5.02, Denver County, Colorado",2771,92,9.9,4.4,12.4,4.5,10.4,4.5,...,41316,15576,70868,19695,(X),(X),(X),(X),25.5,(X)

In [3]:
# Drop null values
income_df.dropna()

,GEO_ID,Geographic Area Name,Households!!Estimate!!Total,Households!!Margin of Error!!Total,"Households!!Estimate!!Less than $10,000","Households!!Margin of Error!!Less than $10,000","Households!!Estimate!!$10,000 to $14,999","Households!!Margin of Error!!$10,000 to $14,999","Households!!Estimate!!$15,000 to $24,999","Households!!Margin of Error!!$15,000 to $24,999",...,Nonfamily households!!Estimate!!Median income (dollars),Nonfamily households!!Margin of Error!!Median income (dollars),Nonfamily households!!Estimate!!Mean income (dollars),Nonfamily households!!Margin of Error!!Mean income (dollars),Nonfamily households!!Estimate!!PERCENT IMPUTED!!Household income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Household income in the past 12 months,Nonfamily households!!Estimate!!PERCENT IMPUTED!!Family income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Family income in the past 12 months,Nonfamily households!!Estimate!!PERCENT IMPUTED!!Nonfamily income in the past 12 months,Nonfamily households!!Margin of Error!!PERCENT IMPUTED!!Nonfamily income in the past 12 months
0,1400000US08031000102,"Census Tract 1.02, Denver County, Colorado",1584,71,5.6,2.6,2.3,1.8,8.6,4.3,...,52917,9824,57168,9412,(X),(X),(X),(X),18.9,(X)
1,1400000US08031000201,"Census Tract 2.01, Denver County, Colorado",1531,67,7.8,4.3,7.3,3.9,9.9,4.2,...,37879,6594,51101,14965,(X),(X),(X),(X),31.4,(X)
2,1400000US08031000202,"Census Tract 2.02, Denver County, Colorado",1676,73,17.1,5.2,5.6,3.2,8.8,3.9,...,35865,14649,58019,13961,(X),(X),(X),(X),16,(X)
3,1400000US08031000301,"Census Tract 3.01, Denver County, Colorado",2660,112,7.6,5.3,4.5,3.8,6.8,3.1,...,42250,13937,70083,15395,(X),(X),(X),(X),31.9,(X)
4,1400000US08031000302,"Census Tract 3.02, Denver County, Colorado",2026,117,0,1.5,4.6,4.4,3.7,2.9,...,67414,23035,84130,15221,(X),(X),(X),(X),21.9,(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1400000US08031015500,"Census Tract 155, Denver County, Colorado",1748,82,6.6,3.4,6.2,3.4,12.8,4.7,...,36181,4934,43829,5542,(X),(X),(X),(X),27.4,(X)
140,1400000US08031015600,"Census Tract 156, Denver County, Colorado",2219,89,21.4,6.8,9.3,4.6,17.3,6.9,...,19850,7129,32904,7589,(X),(X),(X),(X),33.3,(X)
141,1400000US08031015700,"Census Tract 157, Denver County, Colorado",2037,131,15,5.8,5.8,4.1,9.3,5.4,...,27596,8053,33987,6800,(X),(X),(X),(X),25.6,(X)
142,1400000US08031980000,"Census Tract 9800, Denver County, Colorado",529,74,6.4,6.6,12.3,6,10.4,6.9,...,37083,14038,43514,9829,(X),(X),(X),(X),23,(X)
143,1400000US08031980100,"Census Tract 9801, Denver County, Colorado",0,11,-,**,-,**,-,**,...,-,**,-,**,(X),(X),(X),(X),-,(X)

In [4]:
# Keep columns: income less than 50K
income_df50  = income_df.filter(['GEO_ID','Households!!Estimate!!Total','Households!!Estimate!!Less than $10,000','Households!!Estimate!!$10,000 to $14,999','Households!!Estimate!!$15,000 to $24,999','Households!!Estimate!!$25,000 to $34,999','Households!!Estimate!!$35,000 to $49,999'])
income_df50 = income_df50.rename(columns={'Households!!Estimate!!Total': 'Total Households','Households!!Estimate!!Less than $10,000': 'Household income less than $10,000', 'Households!!Estimate!!$10,000 to $14,999': 'Household income $10,000 to $14,999','Households!!Estimate!!$15,000 to $24,999':'Household income $15,000 to $24,999','Households!!Estimate!!$25,000 to $34,999':'Household income $25,000 to $34,999','Households!!Estimate!!$35,000 to $49,999':'Household income $35,000 to $49,999'})
income_df50

,GEO_ID,Total Households,"Household income less than $10,000","Household income $10,000 to $14,999","Household income $15,000 to $24,999","Household income $25,000 to $34,999","Household income $35,000 to $49,999"
0,1400000US08031000102,1584,5.6,2.3,8.6,8.3,6.3
1,1400000US08031000201,1531,7.8,7.3,9.9,6.4,21.6
2,1400000US08031000202,1676,17.1,5.6,8.8,8.2,8.1
3,1400000US08031000301,2660,7.6,4.5,6.8,10.8,13.2
4,1400000US08031000302,2026,0,4.6,3.7,9,16.7
...,...,...,...,...,...,...,...
139,1400000US08031015500,1748,6.6,6.2,12.8,20.4,17.5
140,1400000US08031015600,2219,21.4,9.3,17.3,13.6,11.3
141,1400000US08031015700,2037,15,5.8,9.3,11.6,16.6
142,1400000US08031980000,529,6.4,12.3,10.4,11.2,14.6
143,1400000US08031980100,0,-,-,-,-,-

In [5]:
# Keep columns: income greater than 50K, less than 75K
income_df75  = income_df.filter(['GEO_ID','Households!!Estimate!!$50,000 to $74,999'])
income_df75 = income_df75.rename(columns={'Households!!Estimate!!$50,000 to $74,999': 'Household income $50,000 to $74,999'})
income_df75

                   GEO_ID Household income $50,000 to $74,999
0    1400000US08031000102                                24.2
1    1400000US08031000201                                15.1
2    1400000US08031000202                                14.3
3    1400000US08031000301                                15.7
4    1400000US08031000302                                13.3
..                    ...                                 ...
139  1400000US08031015500                                19.1
140  1400000US08031015600                                17.2
141  1400000US08031015700                                15.9
142  1400000US08031980000                                24.2
143  1400000US08031980100                                   -

[144 rows x 2 columns]

In [6]:
# Keep columns: income greater than 75K, less than 100K
income_df_greaterthan75  = income_df.filter(['GEO_ID','Households!!Estimate!!$75,000 to $99,999'])
income_df_greaterthan75 = income_df_greaterthan75.rename(columns={'Households!!Estimate!!$75,000 to $99,999': 'Household income $75,000 to $99,999'})
income_df_greaterthan75

                   GEO_ID Household income $75,000 to $99,999
0    1400000US08031000102                                11.7
1    1400000US08031000201                                14.5
2    1400000US08031000202                                16.3
3    1400000US08031000301                                 7.3
4    1400000US08031000302                                12.7
..                    ...                                 ...
139  1400000US08031015500                                11.5
140  1400000US08031015600                                 4.3
141  1400000US08031015700                                 6.5
142  1400000US08031980000                                 6.2
143  1400000US08031980100                                   -

[144 rows x 2 columns]

In [7]:
# Keep columns: income greater than 100K, less than 150K
income_df_greaterthan100  = income_df.filter(['GEO_ID','Households!!Estimate!!$100,000 to $149,999'])
income_df_greaterthan100 = income_df_greaterthan100.rename(columns={'Households!!Estimate!!$100,000 to $149,999': 'Household income $100,000 to $149,999'})
income_df_greaterthan100

                   GEO_ID Household income $100,000 to $149,999
0    1400000US08031000102                                  19.3
1    1400000US08031000201                                  12.5
2    1400000US08031000202                                  15.1
3    1400000US08031000301                                  19.2
4    1400000US08031000302                                    20
..                    ...                                   ...
139  1400000US08031015500                                     5
140  1400000US08031015600                                   2.7
141  1400000US08031015700                                  14.1
142  1400000US08031980000                                   9.8
143  1400000US08031980100                                     -

[144 rows x 2 columns]

In [8]:
# Keep columns: income greater than 150K, less than 200K
income_df_greaterthan150  = income_df.filter(['GEO_ID','Households!!Estimate!!$150,000 to $199,999'])
income_df_greaterthan150 = income_df_greaterthan150.rename(columns={'Households!!Estimate!!$150,000 to $199,999': 'Household income $150,000 to $199,999'})
income_df_greaterthan150

                   GEO_ID Household income $150,000 to $199,999
0    1400000US08031000102                                     6
1    1400000US08031000201                                   2.9
2    1400000US08031000202                                   2.6
3    1400000US08031000301                                   5.9
4    1400000US08031000302                                  11.2
..                    ...                                   ...
139  1400000US08031015500                                   0.5
140  1400000US08031015600                                   1.7
141  1400000US08031015700                                   2.9
142  1400000US08031980000                                     0
143  1400000US08031980100                                     -

[144 rows x 2 columns]

In [9]:
# Keep columns: income greater than 200K
income_df_greaterthan200  = income_df.filter(['GEO_ID','Households!!Estimate!!$200,000 or more'])
income_df_greaterthan200 = income_df_greaterthan200.rename(columns={'Households!!Estimate!!$200,000 or more': 'Household income $200,000 or more'})
income_df_greaterthan200

                   GEO_ID Household income $200,000 or more
0    1400000US08031000102                               7.7
1    1400000US08031000201                                 2
2    1400000US08031000202                               3.9
3    1400000US08031000301                               9.1
4    1400000US08031000302                               8.8
..                    ...                               ...
139  1400000US08031015500                               0.4
140  1400000US08031015600                               1.3
141  1400000US08031015700                               2.3
142  1400000US08031980000                               4.9
143  1400000US08031980100                                 -

[144 rows x 2 columns]

In [10]:
# Keep columns: Household Median and Mean income and percent allocated
MedMean_df  = income_df.filter(['GEO_ID', 'Households!!Estimate!!Median income (dollars)','Households!!Estimate!!Mean income (dollars)','Households!!Estimate!!PERCENT IMPUTED!!Household income in the past 12 months'])
MedMean_df = MedMean_df.rename(columns={'Households!!Estimate!!Median income (dollars)': 'Household Median income (dollars)','Households!!Estimate!!Mean income (dollars)': 'Household Mean income (dollars)', 'Households!!Estimate!!PERCENT IMPUTED!!Household income in the past 12 months': 'Household (% Allocated) Household income in the past 12 months'})
MedMean_df

,GEO_ID,Household Median income (dollars),Household Mean income (dollars),Household (% Allocated) Household income in the past 12 months
0,1400000US08031000102,70638,86462,26.9
1,1400000US08031000201,47969,61640,27.4
2,1400000US08031000202,52102,70882,21.3
3,1400000US08031000301,61603,85026,24.9
4,1400000US08031000302,82885,102986,21.4
...,...,...,...,...
139,1400000US08031015500,38080,46045,27.2
140,1400000US08031015600,26173,39714,28.8
141,1400000US08031015700,41650,58263,25.6
142,1400000US08031980000,45125,55503,27.2
143,1400000US08031980100,-,-,-

In [11]:
#Merge dataframes into one
dfs = [income_df50, income_df75, income_df_greaterthan75, income_df_greaterthan100, income_df_greaterthan150, income_df_greaterthan200, MedMean_df]
income_df = reduce(lambda left,right: pd.merge(left,right,on=['GEO_ID'],
                                            how='outer'), dfs)
income_df.head()

,GEO_ID,Total Households,"Household income less than $10,000","Household income $10,000 to $14,999","Household income $15,000 to $24,999","Household income $25,000 to $34,999","Household income $35,000 to $49,999","Household income $50,000 to $74,999","Household income $75,000 to $99,999","Household income $100,000 to $149,999","Household income $150,000 to $199,999","Household income $200,000 or more",Household Median income (dollars),Household Mean income (dollars),Household (% Allocated) Household income in the past 12 months
0,1400000US08031000102,1584,5.6,2.3,8.6,8.3,6.3,24.2,11.7,19.3,6,7.7,70638,86462,26.9
1,1400000US08031000201,1531,7.8,7.3,9.9,6.4,21.6,15.1,14.5,12.5,2.9,2,47969,61640,27.4
2,1400000US08031000202,1676,17.1,5.6,8.8,8.2,8.1,14.3,16.3,15.1,2.6,3.9,52102,70882,21.3
3,1400000US08031000301,2660,7.6,4.5,6.8,10.8,13.2,15.7,7.3,19.2,5.9,9.1,61603,85026,24.9
4,1400000US08031000302,2026,0,4.6,3.7,9,16.7,13.3,12.7,20,11.2,8.8,82885,102986,21.4

In [12]:
# Export the CSV
income_df.to_csv('income_2015.csv', index = False)