In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [2]:
# Load in CSV as a DataFrame
df = pd.read_csv('Resources/rentals.csv')
display(df)

,RegionID,RegionName,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,...,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01
0,102001,United States,0,1294.0,1299,1305.0,1310,1315,1321,1326,...,1708,1729,1750,1771,1793,1815.0,1837.0,1859,1881,1904
1,394913,"New York, NY",1,2256.0,2266,2276.0,2286,2296,2306,2316,...,2526,2556,2586,2617,2648,2680.0,2712.0,2746,2780,2814
2,753899,"Los Angeles-Long Beach-Anaheim, CA",2,1792.0,1803,1814.0,1825,1835,1846,1857,...,2497,2524,2550,2577,2604,2631.0,2659.0,2687,2716,2744
3,394463,"Chicago, IL",3,1411.0,1415,1419.0,1423,1426,1430,1433,...,1649,1662,1675,1688,1702,1716.0,1729.0,1744,1758,1772
4,394514,"Dallas-Fort Worth, TX",4,1128.0,1132,1135.0,1139,1143,1146,1150,...,1534,1556,1578,1600,1622,1645.0,1667.0,1690,1714,1737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,394957,"Melbourne, FL",97,945.0,950,955.0,960,964,969,974,...,1566,1593,1621,1648,1676,1705.0,1733.0,1761,1790,1819
98,395113,"Spokane, WA",99,946.0,942,938.0,934,931,928,925,...,1393,1412,1431,1451,1471,1490.0,1510.0,1529,1548,1567
99,395006,"Provo, UT",100,998.0,1002,1006.0,1011,1015,1019,1024,...,1473,1493,1513,1534,1554,1574.0,1594.0,1615,1635,1656
100,394746,"Killeen, TX",128,867.0,868,870.0,871,873,875,876,...,1160,1180,1200,1221,1241,1262.0,1283.0,1304,1325,1346
101,394483,"College Station, TX",192,1194.0,1199,1205.0,1211,1217,1223,1229,...,1484,1492,1500,1508,1516,1524.0,1532.0,1541,1550,1558

In [3]:
#df["RegionName"][-2:]

In [4]:
#for i in range(0,len(df["RegionName"])):
    #if(df["RegionName"][i][-2:])=="CO":
        #print(df["RegionName"][i])

In [5]:
# making data frame from csv file
data = pd.read_csv("Resources/rentals.csv", index_col ="RegionName")
  
# retrieving rows by loc method
rows = data.loc["Colorado Springs, CO"]
  
# checking data type of rows
print(type(rows))
  
# display
rows

<class 'pandas.core.series.Series'>

RegionID    394484.0
SizeRank        80.0
2014-01       1026.0
2014-02       1030.0
2014-03       1035.0
              ...
2021-09       1693.0
2021-10       1712.0
2021-11       1730.0
2021-12       1749.0
2022-01       1768.0
Name: Colorado Springs, CO, Length: 99, dtype: float64

In [6]:
COSprings_df = pd.DataFrame(rows)
COSprings_df.head(10)

          Colorado Springs, CO
RegionID              394484.0
SizeRank                  80.0
2014-01                 1026.0
2014-02                 1030.0
2014-03                 1035.0
2014-04                 1039.0
2014-05                 1044.0
2014-06                 1048.0
2014-07                 1052.0
2014-08                 1057.0

In [7]:
# Create the output file (CSV) & export file 
COSprings_df.to_csv(path_or_buf='COSprings.csv', index_label="Year-Mo")